/* pages/swiperAdmin/swiperAdmin.wxss */
.container {
  width: 100vw;

  .informationList {
    padding: 20rpx 30rpx;

    .information {
      display: flex;
      flex-direction: column;

      .image {
        width: 100%;
      }

      .content {
        padding: 10rpx 10rpx 20rpx;

        .date {
          color: var(--Color-FontA);
          font-size: 26rpx;
          margin-left: 6rpx;
          white-space: nowrap;
        }
      }
    }
  }
}
